<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Selección de imágenes vía el Photo Picker del sistema (no requiere
         permiso de medios). Por eso NO declaramos READ_MEDIA_IMAGES y forzamos
         su eliminación por si algún plugin la inyecta: así evitamos el formulario
         de "Permisos de fotos y video" de Google Play. La app no usa video. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        tools:node="remove" />
    <!-- Guardar en galería en Android ≤ 9 (en versiones nuevas se usa MediaStore
         sin permiso). -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- Algún plugin inyecta READ_EXTERNAL_STORAGE sin tope; lo limitamos a
         API ≤ 32 (en 33+ es inerte y usamos el Photo Picker). -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" tools:replace="android:maxSdkVersion" />
    <!-- Cámara: opción de tomar foto dentro de la app. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Internet: solo para que Google Play Services descargue los modelos ML Kit
         on-device la primera vez. No se envían datos del usuario. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="RoLuck"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Recortador de imágenes (image_cropper / uCrop) -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- Descarga automática del modelo de segmentación de sujeto (ML Kit)
             vía Google Play Services la primera vez. Luego funciona offline. -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="subject_segment" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
